ENVIRONMENT='environment'
PORT=8080

# DB
HOST='host'
DB_PORT=5432
DB_USER='user'
DB_USER_PASSWORD='user password'
DB='db_name'

# AUTH SECRETS
## jwt
JWT_SECRET_ACCESS_TOKEN='secret'
JWT_SECRET_REFRESH_TOKEN='secret'
## Third Party Auth
GOOGLE_OAUTH_CLIENT_ID='yourId'
GOOGLE_OAUTH_CLIENT_ID_SECRET='idSecret'
GOOGLE_OAUTH_REDIRECT_URL='redirectUrl'

# MAIL SERVICE
EMAIL_SENDER='email@gmail.com'
EMAIL_PASSWORD='password'

