.pdf-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    max-height: 95vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top, #3db5df 0%, #6f86d6 100%);

    @apply  w-[calc(100vw-4vw)] md:w-auto p-1 md:p-10 pt-2 mt-2 rounded overflow-scroll;
}

canvas.react-pdf_Page_canvas {
    @apply mb-10
}

.navigation-btn {
    @apply cursor-pointer rounded text-white bg-indigo-400 hover:bg-indigo-700
}

.disabled-btn {
    @apply cursor-pointer rounded text-white bg-stone-500;
}