.details-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    height: 80vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    @apply w-[calc(100vw-10vw)] md:w-[calc(100vw-50vw)] bg-gradient-to-br from-stone-200 to-indigo-200 border border-slate-500 p-10 pt-2 mt-2 rounded overflow-scroll;
}

ul li span {
    @apply font-bold mr-2
}